{% extends 'base.html' %}  {# 将当前页面继承自base.html母版 #}
{%  block content %}
<link rel="stylesheet" href="/article/woniunote.css" type="text/css"/>
<link rel="stylesheet" href="/article/open-iconic-bootstrap.css" type="text/css"/>
<div class="container">
                <div class="col-12 row article-detail">
                <div class="col-9 title">
                    宿舍楼道清理通知
                </div>
                <div class="col-12 info">
                    作者：后勤保障部&nbsp;&nbsp;&nbsp;
                    日期：铁道宿管站 10:27:12&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;
                </div>
                <div class="col-12 content">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学生宿舍楼道，走廊，楼梯出入口为消防通道，禁止堆放鞋架，鞋子，雨伞，电脑桌等任何
                    杂物，请同学们将自己的物品拿进屋内，我们将定期清理楼道杂物。请同学们相互转告，谢谢合作！<br>
                </div>
            </div>
</div>


{% endblock %}