{% extends 'base.html' %}  {# 将当前页面继承自base.html母版 #}
{%  block content %}
<link rel="stylesheet" href="/article/woniunote.css" type="text/css"/>
<link rel="stylesheet" href="/article/open-iconic-bootstrap.css" type="text/css"/>
<div class="container">
                <div class="col-12 row article-detail">
                <div class="col-9 title">
                    铁道校区停水通知
                </div>
                <div class="col-12 info">
                    作者：后勤保障部&nbsp;&nbsp;&nbsp;
                    日期：2021-05-11 15:18:42&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;
                </div>
                <div class="col-12 content">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 因设计院(原迎宾楼)接驳主水管，拟于2021年5月12日(星期三)23:00-13日(星期四) 6:00关闭相关供水管道阀门。
                    届时，铁道校区梅岭村、学生宿舍1-11栋、土木院红楼1-5栋、大学生科技文化中心、青工楼、职工医院、老印刷厂、
                    附小、幼儿园、行政办公楼、建工楼将停水。请以上区域用户提前做好储水准备。<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;由此给您工作、学习带来的不便，敬请谅解!
                </div>
            </div>
</div>


{% endblock %}