{% extends 'base.html' %}  {# 将当前页面继承自base.html母版 #}
{%  block content %}
<link rel="stylesheet" href="/article/woniunote.css" type="text/css"/>
<link rel="stylesheet" href="/article/open-iconic-bootstrap.css" type="text/css"/>
<div class="container">
                <div class="col-12 row article-detail">
                <div class="col-9 title">
                    铁道校区停水通知
                </div>
                <div class="col-12 info">
                    作者：后勤保障部&nbsp;&nbsp;&nbsp;
                    日期：2021-05-09 19:21:27&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;
                </div>
                <div class="col-12 content">
                    <center>关于热浴刷卡器扣费故障的处理建议:</center><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;因网络故障造成刷卡器吞钱，请同学们及时到本部校园卡服务中心(校本部二办公楼119室)申请办理退费，
                    我生活中心也会积极配合做好退费确认工作！感谢各位楼栋管理员及同学们对我中心工作的理解与支持！<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;由此给您工作、学习带来的不便，敬请谅解!
                </div>
            </div>
</div>


{% endblock %}